RewriteEngine On

# Jeśli plik lub folder istnieje - użyj go bezpośrednio
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Wszystko inne kieruj do index.php
RewriteRule ^(.*)$ index.php [QSA,L]
